<h1>Pragmatig Order Shipped</h1>

<p>
  This is just to let you know we've shipped your recent order:
</p>
<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order/line+items -%>
</table>
